@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


html, body {
  height: 100%; /* Make sure the body takes full viewport height */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
}

/* 2. The main content area should take up the remaining space */
section {
  flex-grow: 1; /* This ensures it takes up any remaining space */
}
